*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
.cal {
    margin-top: 300px;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    background: linear-gradient(to right, red , blue);
    color: transparent;
    -webkit-background-clip: text;
}